.divider[b-zji1oi9drb]:after,
.divider[b-zji1oi9drb]:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom[b-zji1oi9drb] {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom[b-zji1oi9drb] {
        height: 100%;
    }
}
