@page "/"
@inject AlumnoService AlumnoService

Registrar alumno
<br />
<label>Nombre</label>
<input type="text" @bind-value=mialumno.Nombre class="form-control" />
<label>Tipo</label>
<select @bind=mialumno.Aprobado class="form-select" aria-label="Default select example">
    <option selected>Seleccione una opcion</option>
    <option value="Aprobado">Aprobado</option>
    <option value="Desaprobado">Desaprobado</option>
</select>
<label>Valor</label>
<input type="number" @bind-value=mialumno.Nota class="form-control" />
<button class="btn btn-primary" @onclick="CrearAlumno">Registrar Alumno</button>

@code {
    Alumno mialumno = new Alumno();

    public async Task CrearAlumno()
    {
		await AlumnoService.AddAlumnoAsync(mialumno);
    }
}